:root {
  --grey: #E3E4E6;
  --gray: #acabab;
  --white: #fff;
  --black: #010208;
  --ivory: #F6F4F3;
}

@media (max-width: 1200px) {
  body {
    max-width: 900px;
  }

  .home h2 {
    font-size: 2rem;
  }

  header a {
    font-size: 0.75rem;
  }

  .home {
    height: 350px;
  }
  .home h2 {
    margin-top: 50px;
  }

  .home__arrow {
    margin-bottom: 28px;
  }


  .clients h2 {
    text-align: center;
  }

  .clients__brands {
    gap: 32px;
  }

  .about__pics {
    display: none;
  }

  .about {
    display: flex;
    gap: 0;
    justify-content: center;
    text-align: center;
    align-items: start;
    height: auto;
    margin-bottom: 60px;
  }

  .about__text {
    align-items: center;
  }

  .about > h2 {
    text-align: center;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 792px;
  }

  .home h2 {
    font-size: 2rem;
  }

  header a {
    font-size: 1rem;
  }

  .home {
    height: 350px;
  }
  .home h2 {
    font-size: 35px;
    margin-top: 50px;
  }

  .home__arrow {
    margin-bottom: 28px;
  }

  .clients h2 {
    text-align: center;
    font-size: 28px;
  }

  .clients__brands {
    gap: 32px;
  }

  .clients__brands img {
    width: 95%;
    height: 95%;
  }

  .work-card__img img {
    width: 490px;
    height: 400px;
  }

  .about__pics {
    display: none;
  }

  .about {
    display: flex;
    gap: 0;
    justify-content: center;
    text-align: center;
    align-items: start;
    height: auto;
    margin-bottom: 60px;
  }

  .about__text {
    align-items: center;
  }

  .about__text h2 {
    text-align: center;
    font-size: 14px;
  }

  .about__text p {
    font-size: 28px;
  }

  footer h2 {
    font-size: 35px;
  }

}

@media (max-width: 768px) {
  body {
    max-width: 568px;
  }

  .home h2 {
    font-size: 2rem;
  }

  header a {
    font-size: 1rem;
  }

  .home {
    height: 350px;
  }
  .home h2 {
    font-size: 35px;
    margin-top: 50px;
  }

  .home__arrow {
    margin-bottom: 28px;
  }

  .clients {
    height: auto;
    margin-bottom: 120px;
  }

  .clients h2 {
    text-align: center;
    font-size: 28px;
  }

  .clients__brands {
    gap: 32px;
  }

  .clients__brands img {
    width: 95%;
    height: 95%;
  }

  .work-card__img img {
    width: 290px;
    height: 200px;
  }

  .work-card__text p {
    font-size: 16px;
  }

  .work-card__text h4 {
    font-size: 14px;
  }

  .about__pics {
    display: none;
  }

  .about {
    display: flex;
    gap: 0;
    justify-content: center;
    text-align: center;
    align-items: start;
    height: auto;
    margin-bottom: 60px;
  }

  .about__text {
    align-items: center;
  }

  .about__text h2 {
    text-align: center;
    font-size: 14px;
  }

  .about__text p {
    font-size: 16px;
  }

  footer h2 {
    font-size: 20px;
  }

  .links {
    margin-top: 35px;
    margin-bottom: 35px;
  }

}

@media (max-width: 576px) {
  body {
    max-width: 468px;
  }

  .home h2 {
    font-size: 2rem;
  }

  header a {
    font-size: 1rem;
  }

  .home {
    height: 350px;
  }
  .home h2 {
    font-size: 35px;
    margin-top: 50px;
  }

  .home__arrow {
    margin-bottom: 28px;
  }

  .clients {
    height: auto;
    margin-bottom: 120px;
  }

  .clients h2 {
    text-align: center;
    font-size: 28px;
  }

  .clients__brands {
    gap: 32px;
  }

  .clients__brands img {
    width: 95%;
    height: 95%;
  }

  .work-card__img img {
    width: 290px;
    height: 200px;
  }

  .work-card__text p {
    font-size: 16px;
  }

  .work-card__text h4 {
    font-size: 14px;
  }

  .about__pics {
    display: none;
  }

  .about {
    display: flex;
    gap: 0;
    justify-content: center;
    text-align: center;
    align-items: start;
    height: auto;
    margin-bottom: 60px;
  }

  .about__text {
    align-items: center;
  }

  .about__text h2 {
    text-align: center;
    font-size: 14px;
  }

  .about__text p {
    font-size: 16px;
  }

  footer h2 {
    font-size: 20px;
  }

  .links {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .work-card {
    flex-wrap: wrap;
  }

}

@media (max-width: 376px) {
  body {
    max-width: 276px;
  }

  .home h2 {
    font-size: 2rem;
  }

  header {
    justify-content: center;
  }

  header a {
    font-size: 1rem;
  }

  .home {
    height: 350px;
  }
  .home h2 {
    font-size: 35px;
    margin-top: 50px;
  }

  .home__arrow {
    margin-bottom: 28px;
  }

  .clients {
    gap: 40px;
    height: auto;
    margin-bottom: 120px;
  }

  .clients h2 {
    text-align: center;
    font-size: 28px;
  }

  .clients__brands {
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .clients__brands img {
    width: 50%;
  }

  .work-card {
    flex-wrap: wrap;
  }
  .work-card__img img {
    width: 190px;
    height: 200px;
  }

  .work-card__text p {
    font-size: 16px;
  }

  .work-card__text h4 {
    font-size: 14px;
  }

  .about__pics {
    display: none;
  }

  .about {
    display: flex;
    gap: 0;
    justify-content: center;
    text-align: center;
    align-items: start;
    height: auto;
    margin-bottom: 60px;
  }

  .about__text {
    align-items: center;
  }

  .about__text h2 {
    text-align: center;
    font-size: 14px;
  }

  .about__text p {
    font-size: 16px;
  }

  footer h2 {
    font-size: 20px;
  }

  .links {
    gap: 8px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .logo-container {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background: var(--black);
    color: var(--gray);
  }
}

@media screen and (prefers-color-scheme: light) {
  html {
    background: var(--ivory);
    color: var(--black);
  }
  
  body {
    background: var(--ivory);
    color: var(--black);
  }

  nav a{
    color: var(--black)
  }

  .work-card__text p b {
  color: var(--black);
  }

  .work h2 {
    color: var(--black);
  }

  .work h2 b{
    color: var(--black);
  }

  .home h2 {
    color: var(--black);
  }

  .home h2 b {
    color: var(--black);
  }

  .home__arrow img {
    content:url(../assets/arrow\ black.svg);
  }

  .work-card__link  a{
    color: var(--black);
  }

  .work-card__link {
    box-shadow:0 0 0 1px var(--black);
  }

  .clients__image:first-child {
    content: url(../assets/airbnb\ black.svg)
  }
  .clients__image:nth-child(2){
    content: url(../assets/google\ black.svg)
  }
  .clients__image:nth-child(3){
    content: url(../assets/microsoft\ logo\ black.svg)
  }
  .clients__image:nth-child(4){
    content: url(../assets/FedEx\ Logo\ black.svg)
  }

  footer h2 b {
    color: var(--black);
  }

  .about h2{
    color: var(--black);
  }

  .about p b{
    color: var(--black);
  }

  footer p b{
    color: var(--black);
  }

  .work-card__link >.arrow > img{
    content: url(../assets/arrow_right\ black.svg);
  }

  .work-card__img img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .links a{
    background: var(--black) ;
    border-radius: 15px;
  }

  .mail_pic {
    display: grid;
    place-items: center;
  }

  .links a:hover {
    background: #C54B8C;
  }
}